@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Định nghĩa thanh cuộn với góc bo tròn */
    .custom-scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #e5e7eb;
        border-radius: 10px; /* Bo tròn nền */
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #9ca3af;
        border-radius: 9999px; /* Bo tròn mạnh nhất */
        border: 2px solid #e5e7eb; /* Viền giúp mềm mại hơn */
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #6b7280;
    }
}

* {
    @apply custom-scrollbar;
}
